<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Patient NAV</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Patient Nav</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/home}">Dashboard
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Patients</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Navigators</a></li>
			</ul>
			<span class="navbar-text"> Fernanda Flores </span>
		</div>
	</nav>

	<div class="container px-lg-8">
		<div class="row mx-lg-n5">
			<div class="col py-3 px-lg-10 border bg-light">

				<div class="card">
					<div class="card-header">
						<div class="container">
							<div class="row">
								<div>
									<h2>All Appointments</h2>
								</div>
								<div class="col-6"></div>
								<div>
									<a th:href="@{/appointment/new}"
										class="btn btn-outline-secondary btn-sm">New Appointment</a>
								</div>
							</div>
						</div>


					</div>
					<div class="card-body">
						<h5 class="card-title">Last 10 Appointments Registered</h5>

						<table class="table table-sm table-bordered text-center">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Appointment</th>
									<th scope="col">Navigator</th>
									<th scope="col">Last Contact</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
							
								<tr th:each="appointment : ${appointmentList}">
							        <td th:text="${appointment.description}">...</td>
							        <td th:text="${appointment.description}">...</td>
							        <td th:text="${appointment.description}">...</td>
							        <td th:text="${appointment.description}">...</td>
							   </tr>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>