<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result Patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'firstName: ' + ${patient.firstName}" />
    <p th:text="'lastName: ' + ${patient.lastName}" />
    <p th:text="'inputAddress: ' + ${patient.inputAddress}" />
    <p th:text="'inputAddress2: ' + ${patient.inputAddress2}" />
    <p th:text="'inputCity: ' + ${patient.inputCity}" />
    <p th:text="'inputState: ' + ${patient.inputState}" />
    <p th:text="'inputZip: ' + ${patient.inputZip}" />
    
    <a href="/patient/new">Submit another message</a>
</body>
</html>